@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* Leaflet Dark Mode Overrides */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #161616 !important;
  border: 1px solid #404040 !important;
  color: #d1d5db !important;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.5) !important;
}
.leaflet-container {
  background: #0a0a0a !important; /* Prevents white flashes while loading */
}
